.main-page-container {
    height: 100%;
    flex: 1;
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
}

.books-list {
    flex: 1;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    /* grid-template-columns: repeat(3, 1fr); */
}

.nav {
    margin: 10px;
}

.add-book-button {
    margin: 15px;
    color: white;

    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    
    padding: 0 1.2rem;

    border-radius: 0.4rem;
    border: none;

    background-color: #2944f6;
    cursor: pointer;

    box-shadow: 0px 0px 3px #bc053963;
}

.filter-section input{
    border-radius: 10px;
    border-color: red;
}

.filter-fields{
    width: 200px;
    height: 30px;
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box; /* Include padding and border in the width */
    font-size: 16px; /* Font size */
    color: #333;
}